.carousel-inner img
{
  -webkit-filter: filter: contrast(0%);
  filter: filter: contrast(0%); /* make all photos brightness */ 
  width: 50%; /* Set width to 100% */
  margin: auto;

}
.carousel-caption h3 
{
  color: #fff !important;
}

@media (max-width: 600px) 
{
    .carousel-caption 
    {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

