 .navbar {
     
      margin-bottom: 0;
     
      z-index: 1;
      border: 0;
      font-size: 20px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 0px;
      border-radius: 0;
      font-family: Roboto, sans-serif;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, black, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, red, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, red, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, black, white); /* Standard syntax */syntax*/ 
     color:black;
  }
     
.btn-outline-success.active, .btn-outline-success:active, .show>.btn-outline-success.dropdown-toggle {
    color: #1d2124;
    background-color: #737d76;
    border-color: #eaf0f1;
}
.navbar a{
    color:black !important;
    
}

.btn-outline-success {
    color: #f3f1ea;
    background-color: rgba(0, 64, 133, 0);
    background-image: none;
    border-color: #577f60;
    /* font-style: oblique; */
}





.footer-distributed
{

	background-color: #859799;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
  
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
    height: 50%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons
{
	margin-top: 25px;
}

.footer-distributed .footer-icons a
{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px)
{

	.footer-distributed
	{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right
	{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i
	{
		margin-left: 0;
	}

}


body 
{
  color: black;
    background-color: darkgray
}
 
.parallax {
    /* The image used */
    background-image: url("http://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
footer{
    max-width: 2100px;
    
}
#lower{
   background-color: black;
    max-width: 2100px;
}


