.navbar 
{
	font-family: Roboto, sans-serif;
    margin-bottom: 0;
    background-color: #214370;
    border: 0;
    font-size: 16px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand 
{ 
    color: #fff !important;
}
  
.navbar-nav li a:hover 
{
    color: #b0c8e8 !important;
}

.navbar-nav li.active a 
{
    color: #fff !important;
    background-color: #b0c8e8 !important;
}
  
.navbar-default .navbar-toggle 
{
    border-color: transparent;
}

.logo 
{
    color: #f4511e;
    font-size: 200px;
}

.navbar-right
{
  color: #fff !important;
}

#menu-nav li{
    display: block;
    float: left;
    margin: 1em;
}